body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  display: flex;
  list-style: none; /* Treu la numeració */
  margin: 0;
  padding: 0;
  background-color: #333; /* Color de fons fosc */
}

/* Estil per a cada ítem de la navbar */
.navbar li {
  margin: 0;
}

/* Enllaços dins del navbar */
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/* Hover i actiu */
.navbar li a:hover:not(.active) {
  background-color: green;
}
